<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Base.Theme.Calcul">

        <!-- Otras configuraciones -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"> <!-- O bien, puedes establecerlo en "false" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!-- Otras actividades -->

    </application>

</manifest>
